SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/taskflow
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=12345

POSTGRES_DB=taskflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_PORT=5432

SPRING_PORT=8081