SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/taskflow
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

POSTGRES_DB=taskflow
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

SPRING_PORT=8081